﻿@model AutoProject_12110148.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>

            <li>
                @Html.Label("Họ Và Tên")
                @Html.TextBox("txtTen")
            </li>
            <li>
                @Html.Label("Ngày Sinh")
                @Html.TextBox("txtNgaySinh")
            </li>

            <li>
                @Html.Label("Email")
                @Html.TextBox("txtEmail")
            </li>
            <li>
                @Html.Label("Địa Chỉ")
                @Html.TextBox("txtDiaChi")
            </li>

            <li>
                @Html.Label("Giới Tính")
                @Html.RadioButton("rdGioiTinh", "NO") Nam   @Html.RadioButton("rdGioiTinh", "YES") Nữ
            </li>

        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
