﻿@model Blog3.Models.Comment
<div class="display-field">
    <h2>cach day: @Html.DisplayFor(model=>model.Lastime)</h2>
</div>
<div class="display-field">
    @Html.DisplayFor(model=>model.Body)
</div>