﻿@model AutoProject_12110148.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RatingPost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RatingPost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Profile.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Profile.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>
</fieldset>

<h1>@ViewBag.Rating/5</h1> từ @Model.TongUserRate người dùng. <br />
@Html.Raw(ViewBag.YourRating)

<h2>Bình luận:</h2>
@Html.Partial("_addComment",new AutoProject_12110148.Models.Comment(), ViewData)

<fieldset>
    <legend>Comment</legend>
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x=>x.DateCreated).Take(10))
        {

            <div class="comment-show">
                <h3>@Html.DisplayFor(x=>comment.Profile.Name): </h3>  @Html.DisplayFor(x => comment.Body)  <br/>
                Cách đây @Html.DisplayFor(x => comment.LastTime) 
            </div>

        }
    </div>
</fieldset>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


