﻿@model Blog_3.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>
    <div class="display-label">
        @Html.Label("Tags:")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => new Blog_3.Models.Tag().Content)
    </div>
    
</fieldset>


<fieldset>
    <legend>Tags</legend>
    @foreach(var t in Model.Tags)
    {
        @Html.ActionLink(t.Content, "PostLinkTag/" + t.ID, "Post")
    }
</fieldset>

@Html.Partial("_addComment", new Blog_3.Models.Comment(), ViewData)

<fieldset>
    <legend>Comments</legend>
    <div id="result">
        @foreach (var c in Model.Comments.OrderByDescending(s => s.DateCreated).Take(10))
        {
            <div class="display-field">
                Cách đây: @Html.DisplayFor(s => c.LastTime)
            </div>
            <div class="display-field">
                Thành viên: @Html.DisplayFor(s => c.Author)
            </div>
            <div class="display-field">
                Bình luận: @Html.DisplayFor(s => c.Body)
            </div>
        }
    </div>
</fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
