﻿@model Blog_3.Models.Comment

@*<div class="display-field">
    Cách đây: @Html.DisplayFor(model => model.LastTime)
</div>
<div class="display-field">
    Thành viên: @Html.DisplayFor(model => model.Author)
</div>*@
<div class="display-field">
    Bình luận: @Html.DisplayFor(model => model.Body)
</div>